@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #d4d3d7;
  text-decoration: none;
  background-color: transparent;
}

body {
  background-color: #546076;
  font-family: 'Poppins', sans-serif;
}
